set -gx PATH /usr/local/cuda-7.5/bin $PATH
set -gx PATH /home/staher/torch/install/bin $PATH

set -gx LD_LIBRARY_PATH /usr/local/cuda-7.5/lib64 $LD_LIBRARY_PATH
set -gx LD_LIBRARY_PATH /home/staher/cuda/lib64 $LD_LIBRARY_PATH

set -gx LUA_PATH "/home/staher/.luarocks/share/lua/5.1/?.lua;/home/staher/.luarocks/share/lua/5.1/?/init.lua;/home/staher/torch/install/share/lua/5.1/?.lua;/home/staher/torch/install/share/lua/5.1/?/init.lua;./?.lua;/home/staher/torch/install/share/luajit-2.1.0-beta1/?.lua;/usr/local/share/lua/5.1/?.lua;/usr/local/share/lua/5.1/?/init.lua"
set -gx LUA_CPATH "/home/staher/.luarocks/lib/lua/5.1/?.so;/home/staher/torch/install/lib/lua/5.1/?.so;./?.so;/usr/local/lib/lua/5.1/?.so;/usr/local/lib/lua/5.1/loadall.so"

set -gx LD_LIBRARY_PATH /home/staher/torch/install/lib $LD_LIBRARY_PATH

set -gx DYLD_LIBRARY_PATH /home/staher/torch/install/lib $DYLD_LIBRARY_PATH
set -gx LUA_CPATH "/home/staher/torch/install/lib/?.so;" $LUA_CPATH

